# Ignore logs and databases #
# ========================= #
*.log
*.sql

node_modules
wp-admin
wp-includes
wp-content/themes/*
!wp-content/themes/kasiaikod
.vscode
wp-content/plugins
wp-content/uploads/

wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
