# Ignore logs and databases #
# ========================= #
*.log
*.sql

node_modules/
wp-admin/
wp-includes/
wp-content/upgrade/
wp-content/uploads/
wp-content/plugins/
wp-content/themes/*
!wp-content/themes/kasiaikod/
!wp-content/themes/kasiaikod/

.vscode/

wp-config.php

.htaccess
license.txt
readme.html
sitemap.xml
sitemap.xml.gz
