/**
*includes all partials sass files
*/

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import 'variables';
@import 'mixins';
@import 'partial-header';
@import 'front';
@import 'partial-footer';


